html, body{
	height: 100%;
	overflow: hidden;
	position: relative;
}

/*
 * TEMP RULLES START
*/

/* g {background: url('states/Now Playing.png') top center no-repeat;} */
/*g {background: url('states/Playlist.png') top center no-repeat;}*/
/*g {background: url('states/Browser - Artists.png') top center no-repeat;}*/
g{
	position: absolute;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: 1;
}
g {background-size: 360px 640px;}

.state {margin: 0 auto; background-color: rgba(0,0,0,.5);}
.state,
.menu,
.tab-item
{transition: transform .2s; transition-timing-function: linear;}

[hidden] {display: none !important;}
* {user-select: none;}
/*[data-state="player"]{display: none;}*/
/*[data-state="playlist"]{display: none;}*/
/*[data-state="browse"]{display: none;}*/

/*
 * TEMP RULLES END
*/



body{
	background-color: black;
	margin: 0;
}
/*
 * ICONS START
*/

.icon{
	display: inline-block;
	vertical-align: middle;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.icon__equalizer{
	background-image: url('img/interface/icon-equalizer.png');
	width: 24px;
	height: 20px;
}
.icon__menu{
	background-image: url('img/interface/icon-menu.png');
	width: 4px;
	height: 26px;
}
.icon__search{
	background-image: url('img/interface/icon-search.png');
	width: 20px;
	height: 21px;
}
.icon__refresh{
	background-image: url('img/interface/icon-refresh.png');
	width: 30px;
	height: 24px;
}
.icon-arrow-down-right{
	color: #ff5252;
	font-size: 24px;
	font-weight: 700;
	vertical-align: middle;
}
/*
 * ICONS END
*/



.state{
	position: absolute;


	width: 100%;
	height: 100%;

	z-index: 1;

	-webkit-transform: translateZ(0);
}
.bg{
	background-size: cover;
	background-position: center center;

	position: absolute;

	top: 0;
	right: -5%;
	bottom: -5%;
	left: -5%;

	z-index: 1;

	filter: blur(10px);
	-webkit-filter: blur(10px);
}



/*
 * MENU START
*/

.menu{
	font-size: 0;
	
	padding: 0 0 16px 0;
	
	position: absolute;
	left: 0;
	right: 0;

	z-index: 2;
}
.menu-nav{
	display: inline-block;

	font-size: 0;

	vertical-align: top;

	width: 78.5%;
}
.menu-nav-item{
	color: #ebebfa;
	display: inline-block;

	font-family: 'Roboto';
	font-size: 16.6666667px;
	font-weight: 400;

	text-align: center;
	vertical-align: top;
	text-shadow: 1px 2px 2px rgba(49, 49, 64, 0.75);


	padding: 21px 0 27px 0;
	
	width: 33.33333%;
}
.menu-nav-item__active{
	border-top: 10px solid #f66762;
	padding-top: 11px;
}
.menu-hide{
	cursor: pointer;
	display: inline-block;

	vertical-align: top;
	text-align: right;

	width: 16.5%;
}
.menu-hide-button{
	display: inline-block;
	padding: 17px 11px 0 11px;
	position: relative;
	left: 8px;
}
.menu-search{
	display: inline-block;
	padding: 0 6%;

	position: relative;
	width: 100%;
	box-sizing: border-box;
}
.menu-search-submit{
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;

	margin: -10.5px 0 0 17px;

	position: absolute;
	top: 50%;
	left: 6%;

	z-index: 1;
}
.menu-search-field{
	background: rgba(217, 202, 239, 0.29);
    border-radius: 500px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75) inset, -1px -1px 1px rgba(255, 255, 255, 0.7) inset;

	display: block;

	padding: 0 94px 0 43px;

	position: relative;
}
.menu-search-field input{
	background: none;
	border: none;
	color: #ebebfa;
	display: block;
	
	padding: 12px 0;
	margin: 0;

	font-family: 'Roboto';
	font-weight: 300;
	font-size: 17px;
	
	line-height: 1;
	
	width: 100%;
	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.menu-search-field input:focus{
	outline: none;
}
.menu-search-refresh{
	cursor: pointer;
	margin: -12px 8px 0 0;
	position: absolute;
	right: 6%;
	top: 50%;
}

/*
 * MENU END
*/




/*
 * TABS START
*/

.tabs{
	font-size: 0;
	white-space: nowrap;
}
.tab-item{
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.tabs .menu {
	white-space: normal;
}

/*
 * TABS END
*/



/*
 * TOP START
*/

.top{
	font-size: 0;
	padding: 18px 5%;

	position: absolute;
	left: 0;
	right: 0;

	z-index: 2;
}
.top__bg{
	background: url('img/interface/playlist-item-bg.png') 0 0 no-repeat, rgba(29, 39, 44, 0.8);
	background-size: 110% 110%;
	background-position: 5% -5%;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.top-title{
	font-size: 0;
	position: relative;
	white-space: nowrap;
}
.top-title.top-title__center{
	text-align: center;
}
.top-title__swipe:before,
.top-title__swipe:after{
	content: '';
	display: block;
	background: url('img/interface/top-title-swipe.png') 0 0 no-repeat;
	background-size: 100% 100%;

	margin-top: -5.5px;

	position: absolute;
	top: 50%;

	width: 27px;
	height: 11px;

}
.top-title__swipe:before{
	left: 0;
}
.top-title__swipe:after{
	right: 0;
}
.top-title-text{
	color: rgba(255, 255, 255, 0.8);
	display: inline-block;

	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 400;

	vertical-align: middle;
	padding: 1px 0;
}
.top-title-text__with-icon{
	margin-left: .7em;
}
.top-title-text__small{
	font-size: 16.666667px;
	padding: 2px 0;
}
.top-equalizer,
.top-menu{
	cursor: pointer;
	display: inline-block;
}
.top-equalizer{
	padding: 3px 1px;
	margin-right: 10px;
}
.top-menu{
	padding: 0 11px;
	margin-left: 20px;
	position: relative;
	left: 8px;
}
.top-s{
	display: inline-block;
	vertical-align: bottom;
	width: 50%;
}
.top-s__left{
}
.top-s__right{
	text-align: right;
}

/*
 * TOP END
*/



/*
 * PLAYER START
*/
.player{
	padding: 70px 0 60px 0;

	position: relative;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.player-cover{
	flex: 1;
}

.player-cover{
	max-height: 50%;
	position: relative;
	text-align: center;
}
.player-cover img{
	visibility: hidden;
}
.player-cover img[src^="http"]{
	position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    transform: translateX(-50%);
	padding-top: 0;
	visibility: initial;
}
.player-trackbar{
	background-color: rgba(255, 82, 82, .07);
	width: 70%;
	max-width: 500px;
	margin: 3% auto;
}
.player-trackbar-bar{
	transition: width .05s; transition-timing-function: linear;
	display: block;
	position: relative;
	height: 10px;
	background-color: rgb(255, 82, 82);
}
.player-trackbar-time{
	color: rgba(254, 95, 89, 0.9);

	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;

	margin-top: .4em;

	position: absolute;
	right: 0;
	top: 100%;
	transform: translateX(50%);
}
.player-title{
	color: rgba(235, 235, 250, 0.9);

	font-size: 33.3px;
	font-family: 'Roboto';
	font-weight: 300;

	text-align: center;

	margin: auto 0 0 0;
}
.player-author{
	color:  #ff5252;

	font-size: 16.6667px;
	font-family: 'Roboto';
	font-weight: 300;

	text-align: center;

	margin: 0 6% auto 6%;
}
.player-actions{
	box-sizing: border-box;
	font-size: 0;

	margin: 3% auto;

	width: 100%;
	max-width: 500px;
}
.player-actions-button{
	cursor: pointer;

	display: inline-block;

	vertical-align: middle;
	text-align: center;

	width: 20%;
	color: #ebebfa;
	font-size: 27px;
	font-weight: normal;
}
.player-actions-button .icon-play,
.player-actions-button .icon-pause{
	color: #ff5252;
	font-size: 2.7em;
	display: inline-block;
	transform: scaleY(0.8);
}
.player-actions-button .icon-forward3,
.player-actions-button .icon-backward2{
	color: #fff;
	font-size: 2.2em;
	display: inline-block;
	transform: scaleY(0.7);
}
/*
 * PLAYER END
*/



/*
 * PLAYLIST START
*/
#playlist{
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.playlist{
	background-color: rgba(29, 39, 44, 0.5);
	box-sizing: border-box;
	margin-top: 58px;
	height: calc(100% - 58px);
	overflow: hidden;
	position: relative;
	z-index: 1;
}
	.playlist__square{
		padding: 20px 20px;
		white-space: initial;
		text-align: center;
	}
.playlist-item{
	font-size: 0;

	margin-bottom: -2px;
	position: relative;
	overflow: hidden;
}
.playlist-item.playlist-item__current:before{
	background-image: url(img/interface/icon-bars.png);
	background-size: 100% 100%;

	content: '';

	position: absolute;
	top: 39px;
	right: 40px;

    width: 19px;
    height: 22px;
}
.playlist-item:after{
	background: url('img/interface/playlist-item-sort.png') center center no-repeat;
	background-size: 3px 15px;

	content: '';
	cursor: pointer;

	display: block;

	padding: 17px;

	position: absolute;
	top: 0;
	right: 0;

	width: 3px;
	height: 15px;
}
	.playlist__line .playlist-item{
		background: url('img/interface/playlist-item-bg.png') 0 0 no-repeat;
		background-size: 100% 100%;
		height: 78px;
	}
	.playlist__line .playlist-item-cover{
		float: left;
		margin: 14px 28px 0 22px;
	}
	.playlist__line .playlist-item-title{
		padding: 14px 22px;
	}
	.playlist__square .playlist-item{
		display: inline-block;
		max-width: 100px;
		margin: 8px;
	}
	.playlist__square .playlist-item-title{
		font-size: 10.6666667px;
		padding: 0 4px;
		text-align: center;
		position: relative;
		top: 8px;
	}
.playlist-scroll{
	background-color:  #ff5252;
	border-radius: 500px;

	position: absolute;
	right: 4px;

	width: 5px;
	height: 64px;

	z-index: 1;
}
.playlist-item-title{
	color: rgba(216, 217, 233, 0.9);

	line-height: 24px;
	font-size: 20px;
	font-family: 'Roboto';
	font-weight: 500;
	margin: 0;
}
.playlist-item-title__with-cover{
	line-height: 20px;
	font-size: 16.66667px;
	font-weight: 400;
	text-shadow: 1px 2px 2px rgba(49, 49, 64, 0.75);
}
.playlist-item-cover{
	box-shadow: 2.3333px 4.3333px 5px 0px rgba(0, 0, 0, 0.75);
}
.playlist-item-title-text{
	display: inline-block;

	vertical-align: middle;
	

	overflow: hidden;

	width: calc(100% - 86px);
	max-height: 2.4em;
}
.playlist-item-title-follow{
	color:  rgba(23, 172, 195, 0.8);
	display: block;

	line-height: 16px;
	font-size: 13.33333333px;
	font-family: 'Roboto';
	font-weight: 300;
}
.playlist-item-author{
	display: block;
	color: rgba(235, 235, 250, 0.8);

	line-height: 16px;
	font-size: 13.33333333px;
	font-family: 'Roboto';
	font-weight: 300;

	margin: 7px 0 0 0;
}
.playlist-item-time{
	color: rgba(255, 255, 255, 0.9);

	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 500;

	margin: 14px 35px 6px 0;
}
.playlist-item-active{
	text-align: center;
}
.playlist-item-s{
	display: inline-block;
	vertical-align: top;
}
.playlist-item-s__left{
	width: calc(100% - 100px);
	padding: 14px 22px;
	box-sizing: border-box;
}
.playlist-item-s__left .playlist-item-title{
	padding: 0;
}
.playlist-item-s__right{
	width: 100px;
	text-align: right;
}
/*
 * PLAYLIST END
*/